body {
  background-color: black; 
  color: white; 
  font-family: "Times New Roman", Helvetica;  
  /*background: radial-gradient(#000000, #222222);*/  
}
a, p, span, li, button {
  font-size: 16px;
  line-height: 150%; 
}
a {
  color: white;
}
div > select, div > select > option {
  width: 300px;
  font-size: 500px; 
  height: 300px;
}
option, optgroup {
  width: 100px;
  font-size: 500px important!; 
  height: 100px;
  padding: 100px;
}
input {
  color: black;
}
.homepage h1:hover {  
  text-decoration: none;  
  color: #333;
  text-shadow: 
    1px 0px 1px yellow, 0px 1px 1px yellow,   
    -1px -0px 1px yellow, -0px -1px 1px yellow, 
    2px 0px 2px yellow, 0px 2px 2px yellow,   
    -2px -0px 2px yellow, -0px -2px 2px yellow, 
    3px 0px 3px yellow, 0px 3px 3px yellow,   
    -3px -0px 3px yellow, -0px -3px 3px yellow, 
}
a:hover {  
  text-decoration: none;  
  color: #333;
  text-shadow: 
    1px 0px 1px yellow, 0px 1px 1px yellow,   
    -1px -0px 1px yellow, -0px -1px 1px yellow, 
    2px 0px 2px yellow, 0px 2px 2px yellow,   
    -2px -0px 2px yellow, -0px -2px 2px yellow, 
    3px 0px 3px yellow, 0px 3px 3px yellow,   
    -3px -0px 3px yellow, -0px -3px 3px yellow, 
}
button a {
  color: black;
}
.centerblock {
  margin-left: auto; 
  margin-right: auto; 
  width: 800px;     
  padding-top: 10px; 
}
.centertext {
  text-align: center;     
}  
.character, .character a, .character option {
  font-size: 40px; 
}
.code, .code p{
  font-family: Courier, Helvetica; 
  line-height: 100%; 
  width: 1000px;
}
/*h1, h2 {
  color: #333;
  text-shadow: 
    1px 0px 1px yellow, 0px 1px 1px yellow,   
    -1px -0px 1px yellow, -0px -1px 1px yellow, 
}*/
/*div {
  background: linear-gradient(to bottom, #000000, #110500);
  padding: 0px; 
  margin: 0px; 
  box-shadow: 
    1px 0px 1px yellow, 0px 1px 1px yellow,   
    -1px -0px 1px yellow, -0px -1px 1px yellow, 
    2px 0px 2px orange, 0px 2px 2px orange,   
    -2px -0px 2px orange, -0px -2px 2px orange;  
}*/
.glow {
  color: #333;
  text-shadow: 
    1px 0px 2px yellow, 0px 1px 2px yellow, 
    2px 1px 2px yellow, 1px 2px 2px yellow,
    3px 2px 2px yellow, 2px 3px 2px yellow,    
    -1px -0px 2px yellow, -0px -1px 2px yellow, 
    -2px -1px 2px yellow, -1px -2px 2px yellow,
    -3px -2px 2px yellow, -2px -3px 2px yellow
}
ul {
  list-style-type: none;    
  padding: 0px; 
}
div ul li p {
  padding-left: 20px; 
}
div ul li ul li {
  padding-left: 20px; 
}