<div class="homepage selectSuit">
  <br>
  <div class="centerblock">
    <h1>Select your symbol</h1>
    <div class="row">
      <div class="col-md-3">
        <h1 ng-click="selectSuit('spades')">&spades;</h1>
      </div>
      <div class="col-md-3">
        <h1 ng-click="selectSuit('clubs')">&clubs;</h1>
      </div>
      <div class="col-md-3">
        <h1 ng-click="selectSuit('hearts')">&hearts;</h1>
      </div>    
      <div class="col-md-3">
        <h1 ng-click="selectSuit('diams')">&diams;</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <h1 ng-click="selectSuit('spades2')">&#9828;</h1>
      </div>
      <div class="col-md-3">
        <h1 ng-click="selectSuit('clubs2')">&#9831;</h1>
      </div>
      <div class="col-md-3">
        <h1 ng-click="selectSuit('hearts2')">&#9825;</h1>
      </div>    
      <div class="col-md-3">
        <h1 ng-click="selectSuit('diams2')">&#9826;</h1>
      </div>
    </div>
  </div>
  

  <div class="centerblock">
    <a ui-sref="wakingup"><h2>Go</h2></a>
  </div>
</div>